<section class="footer">
    <div class="subtitulo">
        <h2>Cardapio</h2>
    </div>
    <div class="contenedor-botones">
        <div class="btn-cardapio combo">
            <button>Combo 01</button>
            <button>Combo 02</button>
            <button>Combo 03</button>
            <button>Combo 04</button>
            <button>Combo 05</button>
            <button>Combo 06</button>
            <button>Combo 07</button>
        </div>

        <div class="btn-cardapio bebida">
            <button>Bebida 21</button>
            <button>Bebida 22</button>
            <button>Bebida 23</button>
            <button>Bebida 24</button>
            <button>Bebida 25</button>
            <button>Bebida 26</button>
            <button>Bebida 27</button>
        </div>

        <div class="btn-cardapio extra">
            <button>Extra 31</button>
            <button>Extra 32</button>
            <button>Extra 33</button>
            <button>Extra 34</button>
            <button>Extra 35</button>
        </div>

        <div class="btn-cardapio sobremesa">
            <button>Smesa 41</button>
            <button>Smesa 42</button>
            <button>Smesa 43</button>
            <button>Smesa 44</button>
            <button>Smesa 45</button>
        </div>
        
    </div>
</section>
