.titulo-cocina{
    width: 80%;
    max-width: 1350px;
    background-color:#330000;
    text-align: center;
    margin: 1em auto;
    padding: 6px 0;
}

h2 {
    font-family: "Helvetica Neue", sans-serif;
    text-align: center;
    color: #ffcc00;
    font-size: 25px;
    font-stretch: expanded;
    margin: 0;
}

.contenedor-panel {
    width: 80%;
    max-width: 1350px;
    border: solid 4px #330000;
    padding: 1.5em 2em 1.5em 2em; 
    font-size: 16px;
    text-align: center;
    margin: auto;
}

.panel-default {
    width: 100%;
    text-align: center;
    margin: auto;
}

.table{
    text-align: center;
    color: #330000;
}

.panel-heading{
    background-color:#f7e6a4 ;
    text-align: center;
    color: #330000;
    font-size: 18px;
    font-weight: 700;
}

table, td, th, tr, span{
    text-align: center;
}

.status-td .title{
    font-size: 14px;
    font-weight: 600;
}

.status-td{
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.contenedor-btn{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.btn-status{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 30%;
    max-width: 200px;
    font-weight: 700;
    font-size: 13px;
    margin-top: 2em;
}

.btn-status .btn-processo{
    background-color: #29cc00;
    border: none;
    border-radius: 2px;
    color: aliceblue;
    padding: 0.5em 1em;
}

.btn-status .btn-processo:hover{
    background-color: #25a504 ;
}

.btn-status .btn-entregado{
    background-color: #cc0000;
    padding:0.5em 1em;
    border: none;
    border-radius: 2px;
    color: aliceblue;
}

.status_pedido1{
    color:#29cc00;
}

.status_pedido2{
    color:#cc0000;
}

.btn-status .btn-entregado:hover{
    background-color: #a50404 ;
}

.processo{
    color: #29cc00;
}

.entregado{
    color: #cc0000;
}

@media (max-width: 900px){
    .titulo-cocina, .contenedor-panel{
        width: 93%;
    }
}