<div class="titulo-cocina">
  <h2>Pedidos - Cocina</h2>
</div>

<div class="contenedor-panel">
  <div class="panel panel-default">
    <div class="panel-heading">Pedidos Entrada</div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th class="status-td">Pedidos</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td></td>
            <td class="status-td">
              <span class="title">Id mesa</span>
              <span class="title">Id pedido</span>
              <span class="title">Id produto</span>
            </td>
          </tr>

          <tr *ngFor="let pedido of pedidos; let i = index">
            <td><input type="checkbox"></td>
            <td class="status-td">
              <span class="mesaid">{{ pedido.mesaid }}</span>
              <span class="id">{{ pedido.id }}</span>
              <span class="productoId">{{ pedido.productId }}</span>
            </td>
            <td><span class="status_pedido1" *ngIf= "pedido.status_pedido == '1'">Em processo</span>
              <span class="status_pedido2" *ngIf= "pedido.status_pedido == '2'">- Entregado -</span>
              <span class="status_pedido" *ngIf= "pedido.status_pedido == ''">- Em espera-</span></td>
          </tr>


        </tbody>
      </table>
    </div>
  </div>
  <div class="contenedor-btn">
    <div class="btn-status">
      <button class="btn btn-success">Processo</button>
      <button class=" btn btn-danger">Entregado</button>
    </div>
  </div>

</div>