<div class="titulo-garcon">
  <h2>Pedido-Garçon</h2>
</div >
<div class="contenedor-pedido">

<div class="box-alert">
  <div class="alert alert-success alert-dismissable" *ngIf="msg">
    <button class="close" (click)="closeAlert()">
      &times;
    </button>
    {{msg}}
  </div>
</div>

<form class="contenedor-formulario" #formularioPedido= "ngForm" (ngSubmit)="onSubmit(formularioPedido)">
  <div class="input-element">
      <label for="mesaid">Número de mesa</label>
      <input type="number" id="mesaid" name="mesaid" required [(ngModel)]="model.mesaid" placeholder="New" >
  </div>
  <!--<div class="input-element">
      <label for="id">Número de pedido</label>
      <input type="number" id="id" name="id"  required [(ngModel)]="model.id" placeholder="New"  >
  </div>-->
  <div class="input-element">
      <label for="productId">Número de produto</label>
      <input type="number" id="productId" name="productId" required [(ngModel)]="model.productId" placeholder="New" >
  </div>
  <button type="submit" class="btn btn-success" (click)="addPedido()">Caregar</button>
</form>

<form class="contenedor-formulario-editar" [hidden]="hideUpdate" >
<h3>Editar Pedido</h3>
<div class="container-inputs">
<div class="input-element edit">
    <label for="mesaid">Número de mesa</label>
    <input type="number" id="mesaid" name="mesaid" [(ngModel)]="model2.mesaid" placeholder="Edit">
</div>
<!--<div class="input-element edit">
    <label for="id">Número de pedido</label>
    <input type="number" id="id" name="id" [(ngModel)]="model2.id" placeholder="Edit" >
  </div>-->
<div class="input-element edit">
    <label for="productId">Número de produto</label>
    <input type="number" id="productId" name="productId" [(ngModel)]="model2.productId" placeholder="Edit">
  </div>
    <button type="submit" class="btn btn-success"(click)="updatePedido()">Salvar</button>
  </div>
</form>

  <div class="panel panel-default">
    <div class="panel-heading">Pedidos Entrada</div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <th>Id Mesa</th>
          <th>Id Pedido</th>
          <th>Produto</th>
          <th>Acciones</th>
        </thead>
          <tbody>
          <tr *ngFor="let pedido of pedidos; let i = index">
            <td>{{ pedido.mesaid }}</td>
            <td>{{ pedido.id }}</td>
            <td>{{ pedido.productId }}</td>
            <td> 
              <a (click)="editPedido(pedido)" class="btn btn-success">Editar</a>
              <a (click)="deletePedido(pedido.id)" class="btn btn-danger">Deletar</a>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
