<header>
  <app-header></app-header>
</header>
<div class="container">
  <div class="row">

    <ul class="nav nav-pills">
      <li class="home">
        <a routerLink="/home">Home</a>
      </li>
      <li class="pedido-garcon">
        <a routerLink="/pedido-garcon">Pedido - Garçon</a>
      </li>
      <li class="pedidos-cocina">
        <a routerLink="/pedidos-cocina">Pedidos - Cocina</a>
      </li>
    </ul>
  </div>
</div>

<div>
  <router-outlet></router-outlet>
</div>

<!--<section>
  <div class="lik-garcon"> 
    <h3>Garçon</h3>

  <div class="link-cocina">
    <h3>Cocina</h3>
  </div>
-->
<footer>
  <app-footer></app-footer>
</footer>