/*
.pedido-garcon {
    width: 100%;
    padding: 1px;
    text-align: center;  
}

.container{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}


li.pedido-garcon a{
    font-family: "Helvetica Neue", sans-serif;
    color:  #330000;
    font-size: 18px;
    font-stretch: expanded;
    font-weight: 550;
}

.pedidos-cocina {
    width: 100%;
    padding: 1px;
    text-align: center;  
}

li.pedidos-cocina a{
    font-family: "Helvetica Neue", sans-serif;
    color:  #330000;
    font-size: 18px;
    font-stretch: expanded;
    font-weight: 550;
}

.container{
    display: flex;
    padding: 0;
    width: 100%;
}

h3{
    border-radius: 0px 10px 10px 0;
}
*/

.container{
    width: 100%;
}

li{
    background-color: #443030;
    font-weight: 500;
    border-radius: 0 0 20px 20px;
    }

li:hover, li:focus, li a:hover, li a:focus{
   background-color: #ffffff;
   border-radius: 0 0 20px 20px;
}

li a{
    font-weight: 500;
    color: #ffffff;
}

li a:hover, li a:focus{
    font-weight: 500;
    color: #330000;
}


